/* Inserta tu codigo aqui */
.pt-10{
	padding-top: 10%;
}

.cuadro{
	width: 96%;

}

.mt{
 	margin-top: 5%;
 	
 }

 .rectangulo{
 	background-color: #DCDCDC;
 	padding-top: 5%;
 	

 }
 .mb{
	margin-bottom: 5%;
 }

 .pb{
 	padding-bottom: 5%;
 }