/* Inserta tu codigo aqui */

.tres{
	height:400px;
	margin-left: 14%;

}

.cuatro{
	width: 90%;
}

.black{
 	background-color: black;
 	width: 250px; 
 	height: 90px;
 	opacity: 0.2;
 	margin-left: 90px;
 	margin-top: -60%;
 	
 }

 .space{
 	margin-top: 50%;
 }

 .space2{
	margin-bottom: 11%;
 }

 